.userPhoto {
     border-radius: 30px;
     padding: 10%;
}
.userCard {
    border-color: #FF8C00;
    text-align: center;

}

.userCard:hover {
    border-color: #006400;
}

.userCard p, h6 {
    margin-top: 10px;
}
